<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>IAccess</title>

  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"/>

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoFQ6EUp5r5cYVO4+AmO6xZl5UkaNjw1Xkk+F0R+WPGmkzs"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="../styles/header.css"/>
</head>
<body>
  <header class="site-header">
    <div class="header-title">IAccess</div>
    <nav class="header-nav">
      <a href="../index.html">
        <img src="../images/google_logo.png" alt="Logo" class="header-logo"/>
      </a>
      <button class="btn-handsign">HandSign Login</button>
      <button class="btn-alt">Login</button>
      <button class="btn-alt">Register</button>
    </nav>
  </header>
</body>
</html>
